@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");

body {
  background: linear-gradient(236.85deg, #eec2db 27.26%, #b2e7ee 96.03%);
  font-family: "Rajdhani", sans-serif;
}

.container {
  background: #ecf4ff;
  /*   color: rgba(28, 28, 28, 1); */
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
  color: #ab7da2;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 200;
  font-size: 24px;
}

.titulo h5 {
  font-weight: 100;
  font-size: 15px;
}

.projetos {
  display: flex;
  flex-direction: column;
  color: #ab7da2;
}
